<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'AssetPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div id="assetContainer">
        <div id="firstRow">
            <!-- Rename wallet form -->
            <form id="renameWalletContainer" action="/wallets/rename" method="POST">
                <input id="renameWallet" type="text" name="label" id="">
                <input type="hidden" name="id_wallet" value="<%= id_wallet %>">
                <input type="hidden" name="wallet_id" value="<%= id_wallet %>">
                <input id="submitRenameWallet" type="submit" value="Rename">
            </form>

            <!-- Search an asset based on label form -->
            <form id="searchAssetContainer" method="POST" action="/assets/search">
                <input id="searchAsset" type="search" name="searchLike">
                <input id="submitSearchAsset" type="submit" value="Search">
                <input type="hidden" name="wallet_id" value="<%= id_wallet %>">
            </form>
        </div>

        <div id="assetItemContainer">

            <!-- List of all the assets in the user's selected wallet -->
            <% for(let i=0 ; i < resultSQL.length ; i++) { %>

                <!-- Specifics details about an asset -->
                <div class="assetCardContainer textAlign">
                    <form method="POST" action="/assets/info">
                        <div class="actionsRow">
                            <input class="deleteButton" type="submit" value="X" formaction="/assets/remove">
                            <input class="infoButton" type="submit" value="(?)">
                        </div>
                        <% let jsonsql = JSON.stringify(resultSQL[i]) %>
                        <input type="hidden" name="assetInfos" value="<%= jsonsql %>">
                        <% if(typeof apiInfos !=='undefined' ) { %>
                            <% let jsonapi = JSON.stringify(apiInfos[resultSQL[i].ticker]) %>
                            <input type="hidden" name="apiInfos" value="<%= jsonapi %>">
                        <% } %>
                        <input type="hidden" name="wallet_id" value="<%= resultSQL[i].id_wallet %>">
                        <p><%= resultSQL[i].label %> <i><small><%= resultSQL[i].ticker %></small></i></p>
                        <p>Quantity : <%= resultSQL[i].quantity %> unités</p>
                        <p>Amount invested : <%= resultSQL[i].invested_amount %> €</p>
                        <% if(typeof apiInfos !=='undefined' ) { %>
                            <p>Current value : <%= (apiInfos[resultSQL[i].ticker].price * resultSQL[i].quantity).toFixed(2) %> €</p>
                        <% } %>
                    </form>
                </div>
            <% } %>

            <!-- Add an asset form -->
            <form id="addWalletContainer" class="assetCardContainer" method="POST" action="/assets/add">
                <select name="asset_id" id="choice">
                    <% for(let i=0 ; i < assetsFromType.length ; i++) { %>
                        <option value="<%= assetsFromType[i].id %>">
                            <%= assetsFromType[i].label %> (<%= assetsFromType[i].ticker %>)
                        </option>
                    <% } %>
                </select>
                <label for="quantity">Quantity : </label><input id="quantity" type="number" name="quantity" step="0.000000001">
                <label for="invested">Amount invested : </label><input id="invested" type="number" name="invested_amount"  step="0.001">
                <input type="hidden" name="wallet_id" value="<%= id_wallet %>">
                <input class="button" type="submit" value="+ Add a new asset">
            </form>
        </div>
    </div>
</body>

</html>