<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/AssetPage.css">
    <title>My App</title>
</head>

<body>
    <div id="appContainer">
        <a id="logo" href="/">
            <img src="/images/logo.png" alt="">
        </a>
        <a class="routerlink" href="/wallets">Gestion</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/statistics">Statistics</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/premium">Premium</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/logout">Logout</a>
    </div>
    <h1>Asset page</h1>
    <form action="/wallets/rename" method="POST">
        Renommer le wallet : <input type="text" name="label" id="">
        <input type="hidden" name="id_wallet" value="<%= id_wallet %>">
        <input type="hidden" name="wallet_id" value="<%= id_wallet %>">
        <input type="submit" value="Renommer">
    </form>
    <br />
    <div class="asset">
        <% for(let i=0 ; i < resultSQL.length ; i++) { %>
            <div>
                <div class="assetCard assetItem">
                    <p>bouton d'alerte de prix</p>
                    <form method="POST" action="/assets/info">
                        <input type="submit" value="X" formaction="/assets/remove">
                        <input type="submit" value="More info">
                        <% let jsonsql = JSON.stringify(resultSQL[i]) %>
                        <input type="hidden" name="assetInfos" value="<%= jsonsql %>">
                        <% if(typeof apiInfos !=='undefined' ) { %>
                            <% let jsonapi = JSON.stringify(apiInfos[resultSQL[i].ticker]) %>
                            <input type="hidden" name="apiInfos" value="<%= jsonapi %>">
                        <% } %>
                        <input type="hidden" name="wallet_id" value="<%= resultSQL[i].id_wallet %>">
                        <p>
                            <%= resultSQL[i].label %> <i><small>
                                        <%= resultSQL[i].ticker %>
                                    </small></i>
                        </p>
                        <p>Quantité : <%= resultSQL[i].quantity %> unités</p>
                        <p>Montant investit : <%= resultSQL[i].invested_amount %> €</p>
                        <% if(typeof apiInfos !=='undefined' ) { %>
                            <p>Valeur actuelle : <%= (apiInfos[resultSQL[i].ticker].price * resultSQL[i].quantity).toFixed(2) %> €</p>
                        <% } %>
                        
                    </form>
                </div>
            </div>
            <% } %>
                <form method="POST" action="/assets/add">
                    <div class="addAsset assetItem">
                        <select name="asset_id" id="">
                            <% for(let i=0 ; i < assetsFromType.length ; i++) { %>
                                <option value="<%= assetsFromType[i].id %>">
                                    <%= assetsFromType[i].label %> (<%= assetsFromType[i].ticker %>)
                                </option>
                                <% } %>
                        </select>
                        Quantité : <input type="number" name="quantity" id="" step="0.000000001">
                        Montant investit : <input type="number" name="invested_amount" id="" step="0.001">
                        <input type="hidden" name="wallet_id" value="<%= id_wallet %>">
                        <input type="submit" value="+ Ajouter un nouvel actif">
                    </div>
                </form>
    </div>
    </div>

</body>

</html>