<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'WalletPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div id="walletContainer">

        <!-- Search form -->
        <form id="searchWalletContainer" method="POST" action="/wallets/search">
            <input id="searchWallet" type="search" name="searchLike">
            <input id="submitSearchWallet" type="submit" value="Search">
        </form>

        <div id="walletItemContainer">
            <!-- Shows all the user's wallets -->
            <% for(let i=0 ; i < user.wallet_list.length ; i++) { %>
                <div class="walletCardContainer textAlign">
                    <a class="deleteButton" href="/wallets/<%= user.wallet_list[i].id %>/delete">X</a>
                    <a href="/wallets/<%= user.wallet_list[i].id %>">
                        <p>Wallet <%= i+1 %></p>
                        <p><%= user.wallet_list[i].label %></p>
                        <p>Type : <%= user.wallet_list[i].type %></p>
                    </a>
                </div>
            <% } %>

            <!-- Add wallet form -->
            <% if(!max_reached){ %>
                <form class="walletCardContainer" method="POST" action="/wallets/create">
                    <span id="titleCreate">Create a new wallet</span>
                    <div>
                        <label for="label">Label : </label><input type="text" name="label" id="label" maxlength="50" >
                        <br/><br/>
                        <label for="type">Type :</label><select name="type" id="type">
                            <% for(let i=0 ; i < types.length ; i++) { %>
                                <option value="<%= types[i] %>" ><%= types[i] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Confirm">
                    </div>
                </form>
            <% } %>
        </div>
    </div>
</body>

</html>