<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/WalletPage.css">
    <title>My App</title>
</head>

<body>
    <div id="appContainer">
        <a id="logo" href="/">
            <img src="/images/logo.png" alt="">
        </a>
        <a class="routerlink" href="/wallets">Gestion</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/statistics">Statistics</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/premium">Premium</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/logout">Logout</a>
    </div>
    <% if(typeof notification !=='undefined' ){ %>
        <div class="notification">
            <p>
                <%= notification %>
            </p>
        </div>
        <% } %>
    <div class="wallet">
        <form class="searchWallet" method="POST" action="/wallets/search">
            <input type="text" name="searchLike">
            <input type="submit" value="Search">
        </form>
        <% for(let i=0 ; i < user.wallet_list.length ; i++) { %>
            <div class="walletCard walletItem" onclick=<% modal=true %>>
                <a class="deleteCard" href="/wallets/<%= user.wallet_list[i].id %>/delete">X</a>
                <a href="/wallets/<%= user.wallet_list[i].id %>">
                    <p>Portefeuille <%= i+1 %>
                    </p>
                    <p>
                        <%= user.wallet_list[i].label %>
                    </p>
                    <p>Type : <%= user.wallet_list[i].type %>
                    </p>
                </a>
            </div>

            <% } %>
            <% if(!max_reached){ %>
                    <div class="addWallet walletItem">
                        <form class="modal-container" method="POST" action="/wallets/create">
                            <span class="modal__title">Create a new wallet</span>
                            <div class="modal__content">
                              Label : <input type="text" name="label" id="" maxlength="50" >
                              <br/><br/>
                              Type : <select name="type" id="">
                                  <% for(let i=0 ; i < types.length ; i++) { %>
                                      <option value="<%= types[i] %>" ><%= types[i] %></option>
                                  <% } %>
                              </select>
                            </div>
                            <div class="modal__action">
                              <input class="vfm-btn" type="submit" value="confirm">
                            </div>
                          </form>
                    </div>
            <% } %>
    </div>
</body>

</html>